In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from sklearn.metrics import confusion_matrix, classification_report

from 
from transformations import get_delay_feature, get_dummies_features

warnings.filterwarnings('ignore')

data = pd.read_csv('../data/data.csv')
data.info()

threshold_in_minutes = 15
categorical_features = ['OPERA', 'TIPOVUELO', 'MES']

get_delay_feature(data, threshold_in_minutes)

features = get_dummies_features(data, categorical_features)
target = get_delay_feature(data, threshold_in_minutes)

top_10_features = [
    "OPERA_Latin American Wings", 
    "MES_7",
    "MES_10",
    "OPERA_Grupo LATAM",
    "MES_12",
    "TIPOVUELO_I",
    "MES_4",
    "MES_11",
    "OPERA_Sky Airline",
    "OPERA_Copa Air"
]

x_train, x_test, y_train, y_test = train_test_split(features, target['delay'], test_size = 0.33, random_state = 42)

n_y0 = len(y_train[y_train == 0])
n_y1 = len(y_train[y_train == 1])
scale = n_y0/n_y1
print(scale)

reg_model_2 = LogisticRegression(class_weight={1: n_y0/len(y_train), 0: n_y1/len(y_train)})
reg_model_2.fit(x_train, y_train)

y_preds_2 = reg_model_2.predict(x_test)
print(classification_report(y_test, y_preds_2))

ModuleNotFoundError: No module named 'transformations'

In [6]:
target

       delay
0          0
1          0
2          0
3          0
4          0
...      ...
68201      1
68202      1
68203      1
68204      0
68205      0

[68206 rows x 1 columns]

In [2]:
target

       delay
0          0
1          0
2          0
3          0
4          0
...      ...
68201      1
68202      1
68203      1
68204      0
68205      0

[68206 rows x 1 columns]

In [2]:
from src.model_modules.validations import check_missing_features, check_features_for_nan, check_datetime_format

#check_missing_features(data[['TIPOVUELO', 'MES']],categorical_features)

data['TIPOVUELO'] = np.nan

check_features_for_nan(data[categorical_features],categorical_features)
#from src.model_modules.validations import che

ValueError: The following features contain NaN values: ['TIPOVUELO']

In [4]:
dates_features = ['TIPOVUELO', 'Fecha-I']
check_datetime_format(data, dates_features, datetime_format="%Y-%m-%d %H:%M:%S")

ValueError: Incorrect data format, should be YYYY-MM-DD HH:MM:SS

In [5]:
categorical_features = ['OPERA', 'TIPOVUELO', 'MES'] 
dates_features = ['Fecha-O', 'Fecha-I']

categorical_features + dates_features

['OPERA', 'TIPOVUELO', 'MES', 'Fecha-O', 'Fecha-I']